include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title |Fe-school-testing
  body
    .wrapper <!-- overflow cut -->
      .maincontent
        include /sections/header.pug
        section.hero
          .container
            header.section-head Lorem Ipsum
            .hero__content              
              article.hero__article
                include /sections/about.pug
                include /sections/focus.pug
              aside.aside
                include /sections/manager.pug
                include /sections/socials.pug
        section.goods
          .container
            .goods__head
              header.section-head Lorem of Lorem Ipsum
              nav.search
                label.search__field
                  button(
                    type="submit"
                  ).search__field-button 
                    +icon('search', 'search__field-pic')                    
                  input(
                    type="search"
                    placeholder="Search"
                    name="search"
                  ).search__field-input
            ul.goods__list
              - 
                var goods= [
                  {
                      name: 'Lorem Ipsum',
                      image: 'item-logo.png',
                      by: '',
                      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quis, illum sunt quod beatae alias consequuntur ipsam consectetur',
                      format: '',
                      character: 'Public',
                      head: 'Lorem',
                      conditions: 'No fees & no time restrictions'
                  },{
                      name: 'Lorem Ipsum',
                      image: 'item-logo.png',
                      by: 'Lorem ipsum',
                      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quis, illum sunt quod beatae alias consequuntur ipsam consectetur',
                      format: 'scv',
                      character: 'Public',
                      head: 'Lorem',
                      conditions: 'No fees & no time restrictions'
                  },{   
                      name: 'Lorem Ipsum',
                      image: 'item-logo.png',
                      by: 'Lorem ipsum',
                      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quis, illum sunt quod beatae alias consequuntur ipsam consectetur',
                      format: 'csv',
                      character: 'Open',
                      head: 'Lorem',
                      conditions: 'No fees & no time restrictions'
                  }             
                ]
              each good in goods
                li.goods__item
                  .good
                    .good__head
                      .good__head-avatar
                        +image(`${good.image}`, 'good__head-pic')
                      h4.good__head-name #{good.name}
                    if good.by!= ""
                      .good__by
                        h6.good__by-head Lorem by
                        p.good__by-text #{good.by}
                    p.good__text #{good.text}
                    if good.format!= ""
                      p.good__format Format #{good.format}                    
                    .good__character
                      p.good__character #{good.character}
                    h3.good__head #{good.head}
                    h6.good__conditions #{good.conditions}
                    button.good__details View details